@import 'components/_right-panel.styl'
@import 'components/_zooming-chart.styl'
body
    background red
    font-size: 25px
    font-family sans-serif
    color white

.map
    border 1px solid greenyellow
    background #bada55
    position fixed
    display flex
    top 0
    right 0
    bottom 0
    left 0
    h1
        margin auto



