.right-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  min-width: 600px;
  padding-left: 20px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
.right-panel.open {
  transform: translateX(0);
}
.right-panel__content {
  height: 99%;
  border: 4px solid #fff;
  background: rgba(255,255,255,0.3);
}
.example-chart-holder {
  width: 400px;
  height: 250px;
  background: #ff0;
  color: #adff2f;
}
.zooming-chart {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transform: background 3s ease;
}
.zooming-chart.is-focused {
  position: fixed;
  top: 4px;
  left: 25px;
  background: rgba(121,132,109,0.9);
}
.zooming-chart h1 {
  margin: auto;
}
body {
  background: #add8e6;
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
}
.map {
  border: 1px solid #adff2f;
  background: #bada55;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.map h1 {
  margin: auto;
}
