.zooming-chart
  display flex
  width 100%
  height 100%
  will-change transform
  &.is-focused
    position fixed
    top 10px
    right 10px
    bottom 10px
    left 10px
    background: #000
  h1
    margin auto

